<p>
    <strong>User ID:</strong>
    <%= tweet.user_name %>
</p>
<p>
    <strong>Message:</strong>
    <%= tweet.message %>
</p>
<%= button_to "このメッセージを削除", tweet, method: :delete %>
<%= button_to "いいね", likes_path(tweet_id: tweet.id), method: :post %>
<%= button_to "いいね削除", like_path(tweet), method: :delete %>
<br>