<h1>ツイート</h1>

<div id="tweets">
    <% @tweets.each do |tweet| %>
        <%= render partial: "tweet", locals: { tweet: tweet } %>
    <% end %>
</div>

<h1>ツイート作成</h1>
<%= form_tag '/tweet/create', method: :post, data: { turbo: false } do %>
    <%= label_tag :message, 'メッセージ' %>
    <%= text_field_tag :message %><br>
    <%= submit_tag 'ツイート' %>
<% end %>